<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>En Coin</title>
</head>
<body>

<h1>En Coin</h1>

<p>
    {{ Mont.Id }} <br/>
    {{ Mont.Genstand }} <br/>
    {{ Mont.Minpris }} <br/>
    {{ Mont.Bud }} <br/>
    {{ Mont.Navn }} <br/>
</p>
</body>
</html>